#mainheader{
    margin-left: 250px;
    font-size:70px;

    font-family:monospace;
}
#bodyh1{
    font-size:20px;

}
#body2{
    font-size:40px;

}

#body3{
    font-size:20px;
    font

}
body{
    background-image: url('https://st2.depositphotos.com/6304688/11185/i/950/depositphotos_111856782-stock-photo-blue-flowers-on-blue-background.jpg');
}

footer{
    margin: 100% 0 0 0;
    font-size:20px;
}
